<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
    <link rel="stylesheet" href="/styles/styles.css" />
</head>
<body>
    <div class="wrapper">  
        <div class="note-container">
            <h1>Notes</h1>
            <h3>404 page not found</h3>
            <form action="/" method="GET"> 
                <button class="back-button" type="submit" value="Submit">Go back</button>
            </form>
        </div>
    </div>
</body>